#directories {
    width: 200px;
    height: 100vh;
    position: fixed;
}

#directories a {
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.nav-link:active {
    background-color: gray;
}

h2 {
    font-size: 36px;
    font-weight: 700
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

.hover-gray {
    color: gray;
}

#content {
    margin-left: 220px;
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.img-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
}

.round-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -1px;
    margin-top: -1px;
    z-index: 1;
}

.info {
    text-decoration: none;
    color: black;
}

.colValue {
    margin-left: 3px;
}

hr {
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 60%;
}

.nextIcon {
    position: absolute;
    right: 750px;
}

.loginWhatToEat {
    margin-top: 50px;
    margin-bottom: 30px;
}

.password-show {
    -webkit-text-security: disc;
}

#fileInput {
    display: none;
}