#uberIndex {
    background-image: url('../../images/indexImage/uberIndex.webp');
    background-size: 100%;
}
.custom-navbar {
    background-image: url('../../images/indexImage/uberIndex.webp');
    background-size: 100%;
    color: white;
    display: flex;
    align-items: center;
}
.iconSize {
    font-size: 25px;
}
.systemName {
    margin-right: 1100px;
}
.model-width {
    width: 300px;
}
.btn-weight {
    width: 250px;
    height: 50px;
    margin-top: 5px;
}
.indexContainer {
    margin-top: 200px;
    margin-left: 20px;
}
.timeSiteChoose {
    margin-top: 35px;
}
.site-input {
    width: 500px;
    height: 50px;
}
.iconPos {
    color: black;
}
.selectSize {
    width: 150px;
    height: 50px;
}
.findFood {
    width: 100px;
    height: 50px;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: max-content;
}
.select-button {
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    line-height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    max-width: 100%;
    z-index: 1;
}
.custom-options span {
    display: block;
    padding: 0.375rem 0.75rem;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
}
.down {
    margin-left: 30px;
}
.timeOption{
    margin-top: 10px;
    width: 350px;
    height: 40px;
    background-color: #dcdcdc;
    color: black;
}
.timeOption option{
    background-color: white;
}
.timeSetBtn{
    width: 350px;
    height: 40px;
    margin-top: 10px;
}
.timeModal{
    display: grid;
    place-items: center;
}
.out{
    background-color: rgb(226, 226, 226);
}
.out:hover{
    background-color: #dcdcdc;
}
.name-title{
    margin-left: -1480px;
    font-weight: bold;
    font-size: 30px;
}
