<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/user/goUpdatePassword.css}">
    <link rel="stylesheet" th:href="@{/static/css/common/profileCommon.css}">
    <script th:src="@{/static/js/user/goUpdatePassword.js}"></script>
    <title>使用者更改密碼頁面</title>
</head>
<body>
<div class="h-title"><span class="title-text">WhatToEat 帳戶</span></div>
<div class="container c">
    <h2>新密碼</h2>
    <p>您的密碼至少須有 8 個字元，且至少包含一個數字和一個非數字字元</p>
    <span class="password-span">新密碼</span>
    <div class="input-password-div">
        <input type="password" id="passwordInput" name="password" placeholder=" ">
    </div>
    <span class="password-span">新密碼</span>
    <div class="input-password-div">
        <input type="password" id="confirmPasswordInput" name="confirmPassword" placeholder=" ">
    </div>
    <button class="btn btn-dark btnUpdate" onclick="updatePassword()">更新</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>