<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/restaurant/menu.js}"></script>
    <style>

        .imgSize {
            width: 350px;
            height: 250px;
        }

    </style>
</head>

<body>


<!--上面navaBar-->
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid mainContent">
        <button id="infoBtn" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myInfoModal">
            <i class="bi bi-list iconSize"></i>
        </button>
        <!--        設定個人資訊彈窗-->
        <div class="modal fade" id="myInfoModal" tabindex="-1">
            <!-- modal-fullscreen可以設定全彈窗，再透過手動設定寬度即可設定想要的彈窗-->
            <div class="modal-dialog modal-fullscreen model-width ">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="additional-content1" th:if="${session.currentUser!=null}">
                            <img th:src="@{${session.currentUser.memPhoto}}" class="image-preview"/>
                            <div class="additional-content">
                                <span class="name" th:text="${session.currentUser.memName}"></span><br/>
                                <a id="manageAccount" th:href="@{/member/}" class="accountManage">管理帳戶</a>
                            </div>
                        </div>
                        <div th:if="${session.currentUser!=null}">
                            <a th:href="@{/member/orders}" class="information">
                                <i class="bi bi-file-earmark-check-fill icon"></i>
                                <span class="iconText">訂單</span>
                            </a><br/>
                            <a th:href="@{/member/restaurants}" class="information">
                                <i class="bi bi-heart-fill icon"></i>
                                <span class="iconText">最愛餐廳</span>
                            </a>
                        </div>
                        <div th:if="${session.currentUser!=null}">
                            <button class="btn btn-dark btn-weight" style="display: none;">註冊</button>
                            <button class="btn btn-secondary btn-weight" style="display: none;">登入</button>
                            <br/>
                        </div>
                        <a th:href="@{/member/logOut}"
                           th:if="${session.currentUser!=null}" class="information logOut">登出</a>
                        <hr/>
                        <a href="#" class="link">建立企業帳戶</a><br/>
                        <a href="#" class="link2">新增您的餐廳</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="navbar-brand systemName" th:href="@{/main}">
            WhatToEat
        </a>

        <!-- 搜尋框 -->
        <div class="search-cart d-flex">
            <form class="d-flex searchGroup" role="search">
                <input class="form-control me-3 keywordInput" type="search" placeholder="Search" aria-label="Search"
                       name="keyword">
                <button class="btn btn-success searchBtn" th:onclick="|searchFood(${session.restaurant.restId})|">Search</button>
            </form>

            <!-- 購物車 -->
            <button id="cartNumber" class="btn btn-dark cart-btn" data-bs-toggle="modal" data-bs-target="#cartModal">
                <i th:fragment="cartNumber" class="bi bi-cart cartIcon"></i>
                <span th:fragment="cartNumber" class="num"
                      th:text="${session.currentUser != null ? session.currentUser.cart.cartItems.size(): session.tempCart.cartItems.size()}">
                    </span>
                <span th:fragment="cartNumber" class="product">項商品</span>
            </button>
        </div>
        <!-- 購物車跳出的modal -->
        <div class="modal fade" id="cartModal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen cart-modal-width">
                <div class="modal-content text-color" id="cartItemBlock">
                    <div class="modal-header" th:fragment="cartItemBlock">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">購物車內容資訊</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body cart-body" th:fragment="cartItemBlock">
                        <div class="no-item-div"
                             th:if="${session.currentUser != null ? session.currentUser.cart.cartItems.size() == 0 : session.tempCart.cartItems.size() == 0}">
                            <img class="no-item-img" src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/a023a017672c2488.svg"/>
                            <span class="add-cart-span add-cart-text">加入選購商品即可開啟購物車</span><br>
                            <span class="add-cart-span add-cart-text1">選購餐廳或商店中的商品後，您的購物車即會顯示在此。</span>
                            <button type="button" onclick="startChoose()" class="btn btn-dark start-choose" data-bs-dismiss="modal">開始選購
                            </button>
                        </div>
                        <div
                                th:if="${session.currentUser != null ? session.currentUser.cart.cartItems.size() != 0 : session.tempCart.cartItems.size() != 0}">
                            <h3 th:text="${session.currentUser != null ? session.currentUser.cart.cartItems[0].food.restaurant.restName: session.tempCart.cartItems[0].food.restaurant.restName}"></h3>
                            <span>外送地點:</span>
                            <span>台北市</span>
                            <p class="buy-num">
                                    <span id="pNUm"
                                          th:text="${session.currentUser != null ? session.currentUser.cart.itemNum: session.tempCart.cartItems.size()}">1</span>
                                <span>項商品</span>
                                <span class="buy-total">小計:$</span>
                                <span class="buy-money"
                                      th:text="${session.currentUser != null ? session.currentUser.cart.cartItemTotal: session.tempCart.cartItemTotal}">
                                    </span>
                            </p>
                            <hr/>
                        </div>
                        <div
                                th:if="${session.currentUser != null ? session.currentUser.cart.cartItems.size() != 0 : session.tempCart.cartItems.size() != 0}">
                            <table class="table table-borderless product-table">
                                <tbody>
                                <div th:each="cartItem : ${session.currentUser != null ? session.currentUser.cart.cartItems : session.tempCart.cartItems}">
                                    <tr>
                                        <td scope="row" class="product-name" th:text="${cartItem.food.foodName}"></td>
                                        <td class="product-img">
                                            <img th:src="@{${cartItem.food.foodPhoto}}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-num">
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <button type="button" class="btn btn-light"
                                                        data-operation="-1"
                                                        th:data-menuid="${cartItem.food.foodId}"
                                                        th:onclick="|editItem(this.getAttribute('data-operation'),this.getAttribute('data-menuid'),event)|">
                                                    <i class="bi bi-dash-circle-fill"></i>
                                                </button>
                                                <button type="button" class="btn btn-light">
                                                    <span th:text="${cartItem.foodNum}"></span>
                                                </button>
                                                <button type="button" class="btn btn-light"
                                                        data-operation="1"
                                                        th:data-menuid="${cartItem.food.foodId}"
                                                        th:onclick="|editItem(this.getAttribute('data-operation'),this.getAttribute('data-menuid'),event)|">
                                                    <i class="bi bi-plus-circle-fill edit-item"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="product-price">
                                            <span th:text="${cartItem.foodNum*cartItem.food.foodPrice}"></span>
                                        </td>
                                    </tr>
                                </div>
                                </tbody>
                            </table>
                            <div>
                                <hr/>
                                <span class="buy-total2">小計</span>
                                <span class="buy-money2"
                                      th:text="${session.currentUser != null ? session.currentUser.cart.cartItemTotal: session.tempCart.cartItemTotal}">
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" th:fragment="cartItemBlock"
                         th:if="${session.currentUser != null ? session.currentUser.cart.cartItems.size() != 0 : session.tempCart.cartItems.size() != 0}">
                        <button id="payBtn" type="button" class="btn btn-dark pay-add-btn"
                                th:data-cartItem="${session.currentUser == null ? session.tempCart.cartItems.size() : session.currentUser.cart.cartItems.size()}"
                                onclick="goToPay(this)">前往結帳
                        </button>
                        <br/>
                        <button type="button" class="btn-gray pay-add-btn" th:onclick="|goAddFood(${session.currentUser == null ?
                                    session.tempCart.cartItems[0].food.restaurant.restId:
                                    session.currentUser.cart.cartItems[0].food.restaurant.restId })|"
                                data-bs-dismiss="modal">
                            <span>新增商品</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 登入&註冊 -->
        <div id="navbarSupportedContent" class="login-register-btn" th:if="${session.currentUser == null}">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button class="btn circle-button login login-button" onclick="login()">
                        <i class="bi bi-person-fill"></i>登入
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn circle-button register-button" onclick="register()">註冊</button>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div>
    <img th:src="@{${session.restaurant.restPhoto}}" style="width:1687px;height:520px"/>
</div>
<br/>

<div style="display: flex;">
    <div style="width:20%">
        <ul class="nav flex-column col-md-2 offset-md-1">
            <li class="nav-item">
                <span>歡迎!</span>
            </li>
            <li class="nav-item">
                <span th:text="${session.restaurant.restFoodType}">中式</span>
            </li>
            <li class="nav-item">
                <span th:text="${session.restaurant.restPrice}">100$</span>
            </li>
            <li class="nav-item">
                <span th:text="${'Open until '+session.restaurant.restCloseTime}">Open until 10:30PM</span>
            </li>
            <br/>
            <li class="nav-item" th:each="type : ${session.types}">
                <span><a th:id="${'type'+type}" th:href="'#'+${type}" th:text="${type}" th:data-type="${type}"
                         th:onclick="|scrollToSection(this.getAttribute('data-type'))|">類別1</a></span>
            </li>
        </ul>
    </div>
    <div class="container row">
        <!--        進行局部刷新-->
        <div th:each="type : ${session.types}" style="display: inline-block">
            <h1 th:text="${type}" th:id="${type}"></h1><br/>
            <div class="card col-md-4 border-light" th:each="food : ${session.foods}" th:fragment="rest"
                 th:if="${food.foodType==type}" style="float: left">
                <img th:src="@{${food.foodPhoto}}" class="card-img-top imgSize" alt="...">
                <div class="card-body row">
                    <h5 class="card-title" th:text="${food.foodName}">商品1</h5><br/>
                    <h5 class="col-md-6" th:text="${food.foodPrice}">價錢1</h5>
                    <button th:id="'food'+${food.foodId}" type="button" style="margin-left: 10px" class="btn btn-danger col-md-6"
                            data-bs-toggle="modal"
                            th:data-cartItem-rest="${session.currentUser==null?(session.tempCart.cartItems.size()!=0?session.tempCart.cartItems[0].food.restaurant.restId:0):(session.currentUser.cart.cartItems.size()!=0?session.currentUser.cart.cartItems[0].food.restaurant.restId:0)}"
                            th:data-currentRest="${session.restaurant.restId}"
                            th:data-menu-id="${food.foodId}" onclick="addItem(this)">
                        加入購物車
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel1">成功加入購物車</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    已加入購物車!!!!
                                </div>
                                <div class="modal-footer">
                                    <button id="confirmAdd" type="button" class="btn btn-secondary" data-bs-dismiss="modal">確認
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

<script type="text/javascript">


    function deleteItem(foodId) {
        $.get("/deleteCart?foodId=" + foodId, function (data) {
            $('#cartItemBlock').html(data)
            $.get("/changeCartNumber", function (data) {
                $('#cartNumber').html(data)
            })
        })
    }

</script>

</body>

</html>