<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
</head>
<body>
<input id="target">
<button onclick="connect()">click me</button>
</body>
<script>
    var url = '../myHandler';
    var sock = new SockJS(url);      //打开WebSocket

    sock.onopen = function() {          //处理连接开启事件
        console.log('Opening');
        // sock.send('start');
    };

    sock.onmessage = function(e) {      //处理信息
        e = e || event; 		   //获取事件，这样写是为了兼容IE浏览器
        console.log(e.data);
    };

    sock.onclose = function() {         //处理连接关闭事件
        console.log('Closing');
    };

</script>

作者：记忆中逝去的往事
链接：https://juejin.cn/post/6992895879406043149
来源：稀土掘金
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
</html>